.LoginFirstPage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
}

.LoginContainer {
  margin-left: 5%;
  display: flex;
  align-items: center !important;
  justify-content: center;
  min-height: 60vh;
  width: 95%;
}
.LoginForm {
  /* min-width: 30%1 */
  justify-content: space-around;
  width: 100%;
  display: flex;
  align-items: center;
}
.LoginForm > form {
  display: flex;
  flex-direction: column;
}
.LoginFormHeading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #4e8397;
  margin-top: 30px;
  margin-bottom: -10px;
}
.LoginSmallHeading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #0f071b;
  margin-top: 10px;
}

.LoginFormBox > input[type="text"],
.LoginPassword > input[type="password"],
.LoginPassword > input[type="text"] {
  padding: 5px;
  border: 0px;
  border-bottom: 1px;
  margin: 10px;
  width: 115%;
  margin-left: -5px;
}
.LoginFormBox > input,
.LoginFormBox > textarea,
.LoginPassword > input[type="password"],
.LoginPassword > input[type="text"] {
  font-family: inherit;
  padding-left: 5px;
  font-size: inherit;
}
.LoginFormBox > textarea:focus,
.LoginFormBox > input:focus,
.LoginPassword > input:focus {
  outline: none;
  padding-left: 5px;
}
.LoginLines {
  border: 1px solid #cabfbc;
  width: 125%;
}

.LoginFormBox > ::placeholder,
.LoginPassword > ::placeholder {
  padding-left: 5px;
  color: #cfc4c1;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.LoginFormBox > input[type="submit"] {
  margin-top: 35px;
  border-radius: 50px;
  width: 125%;
  height: 40px;
  background-color: #0f071b;
  border: 1px solid #0f071b;
  color: #ebe7e6;
  font-weight: 500;
  font-family: "Manrope";
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  font-style: normal;
}

.LoginPassword {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 125%;
}

.LoginPassword > img:hover {
  cursor: pointer;
}

.LoginFormLineAlreadyLine {
  border-left: 6px solid green;
  height: 10vh;
}

.LoginFormAlreadyAccount {
  display: flex;
  font-size: 15px;
  margin-left: 30px;
}
.LoginFormAlreadyAccount > .left {
  font-family: "Montserrat";
  color: #ab9892;
}
.LoginFormAlreadyAccount > .right {
  text-decoration: underline;
  color: #0f071b;
}
.LoginLoginButton {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 50px;
  width: 250px;
  height: 50px;
  cursor: pointer;
}
.LoginLoginButton > img {
  width: 20px;
  height: 20px;
}

.LoginLoginButton > p {
  margin-left: 10px;
  line-height: 22px;
  font-size: 16px;
  font-family: "Manrope";
  font-weight: 500;
}

.LoginEmailError {
  display: flex;
  margin: 0;
  margin-block: 0;
  color: #bf1650;
  width: 15vw;
}

.LoginEmailError::before,
.LoginEmailError::after {
  display: flex;
  width: inherit;
}

.LoginRight {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .LoginContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .LoginHeart {
    position: absolute;
    right: 2vw;
    top: 25vh;
  }
  .LoginForm > form {
    width: 60vw;
    margin-left: 40px;
  }
  .LoginFirstPage {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
  }
  .LoginFormLineAlreadyLine {
    position: relative;
    width: 60vw;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
  }
  .LoginFlower {
    position: absolute;
    top: 70vh;
    left: 8vw;
    margin: 0;
    padding: 0;
  }
  .LoginLoginButton {
    /* margin: 0; */
    margin-left: 40px;
    margin-bottom: 5px;
  }
  .LoginFormAlreadyAccount {
    margin-left: 40px;
  }
  .LoginFormBox > input[type="submit"] {
    width: 40vw;
    position: relative;
    left: 11vw;
    margin-top: 15px;
  }
  .LoginLines {
    width: 100%;
  }
  .LoginFormBox > input[type="text"],
  .LoginPassword > input[type="password"],
  .LoginPassword > input[type="text"] {
    width: 90%;
  }
  .LoginPassword {
    width: 100%;
  }
}

.LoginForgotPassword {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  text-decoration-line: underline;
  color: #cfc4c1;
  width: 120%;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .LoginContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .LoginHeart {
    position: absolute;
    right: 2vw;
    top: 25vh;
  }
  .LoginForm > form {
    max-width: 60vw;
    margin-left: 20px;
  }
  .LoginForgotPassword {
    width: auto;
  }
  .LoginFirstPage {
    align-items: flex-start;
    justify-content: flex-start;
    width: 90vw;
    margin-left: -10vw;
  }
  .LoginForm {
    margin-left: 20vw;
  }
  .LoginFormLineAlreadyLine {
    position: relative;
    width: 60vw;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10%;
  }
  .LoginFlower {
    position: absolute;
    top: 70vh;
    left: 8vw;
    margin: 0;
    padding: 0;
  }
  .LoginLoginButton {
    /* margin: 0; */
    width: 200px;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  .LoginFormBox > input[type="submit"] {
    width: 40vw;
    position: relative;
    left: 10vw;
    margin-top: 0;
  }
  .LoginLines {
    width: 100%;
  }
  .LoginFormBox > input[type="text"],
  .LoginPassword > input[type="password"],
  .LoginPassword > input[type="text"] {
    width: 90%;
  }

  .LoginPassword {
    width: 100%;
  }
  .LoginFormAlreadyAccount {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .LoginHeart {
    right: 5vw;
  }

  .LoginFlower {
    top: 50vh;
    left: 15vw;
  }
}
