.SignUpFirstPage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
}

.SignUpContainer {
  margin-left: 5%;
  display: flex;
  align-items: center !important;
  justify-content: center;
  min-height: 60vh;
  width: 95%;
}
.SignUpForm {
  /* min-width: 30%1 */
  justify-content: space-around;
  width: 100%;
  display: flex;
  align-items: center;
}
.SignUpForm > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.SignUpFormHeading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #4e8397;
  margin-bottom: -10px;
}
.SignUpSmallHeading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #0f071b;
  margin-top: 10px;
}

.SignUpFormBox > input[type="text"],
.signUpPassword > input[type="password"],
.signUpPassword > input[type="text"] {
  padding: 5px;
  border: 0px;
  border-bottom: 1px;
  margin: 10px;
  width: 115%;
  margin-left: -5px;
}
.SignUpFormBox > input,
.SignUpFormBox > textarea,
.signUpPassword > input[type="password"],
.signUpPassword > input[type="text"] {
  font-family: inherit;
  padding-left: 5px;
  font-size: inherit;
}
.SignUpFormBox > textarea:focus,
.SignUpFormBox > input:focus,
.signUpPassword > input:focus {
  outline: none;
  padding-left: 5px;
}
.SignUpLines {
  border: 1px solid #cabfbc;
  width: 125%;
}

.SignUpFormBox > ::placeholder,
.signUpPassword > ::placeholder {
  padding-left: 5px;
  color: #cfc4c1;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.SignUpFormBox > input[type="submit"] {
  margin-top: 35px;
  border-radius: 50px;
  width: 125%;
  height: 40px;
  background-color: #0f071b;
  border: 1px solid #0f071b;
  color: #ebe7e6;
  font-weight: 500;
  font-family: "Manrope";
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  font-style: normal;
}

.signUpPassword {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 125%;
}

.signUpPassword > img:hover {
  cursor: pointer;
}

.SignUpFormLineAlreadyLine {
  height: 40vh;
  width: 4px;
  background: #cabfbc;
  border: 1px solid #cabfbc;
  border-radius: 4px;
}

.SignUpFormAlreadyAccount > .right > a {
  color: #0f071b;
}

.SignUpFormAlreadyAccount {
  display: flex;
  font-size: 15px;
  margin-left: 30px;
}
.SignUpFormAlreadyAccount > .left {
  font-family: "Montserrat";
  color: #ab9892;
}
.SignUpFormAlreadyAccount > .right {
  text-decoration: underline;
  color: #0f071b;
}
.SignUpLoginButton {
  margin-top: 10px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 50px;
  width: 250px;
  height: 50px;
  cursor: pointer;
}
.SignUpLoginButton > img {
  width: 20px;
  height: 20px;
}

.SignUpLoginButton > p {
  margin-left: 10px;
  line-height: 22px;
  font-size: 16px;
  font-family: "Manrope";
  font-weight: 500;
}

.SignUpEmailError {
  display: flex;
  margin: 0;
  margin-block: 0;
  color: #bf1650;
  width: 15vw;
}

.SignUpEmailError::before,
.SignUpEmailError::after {
  display: flex;
  width: inherit;
}

.SignUpRight {
  display: flex;
  flex-direction: column;
  margin-left: -3vw;
}

@media only screen and (max-width: 600px) {
  .SignUpContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .signUpHeart {
    position: absolute;
    right: 2vw;
    top: 25vh;
  }
  .SignUpForm > form {
    width: 60vw;
    margin-left: 40px;
  }
  .SignUpFirstPage {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
  }
  .SignUpFormLineAlreadyLine {
    position: relative;
    width: 60vw;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
  }
  .signUpFlower {
    position: absolute;
    top: 70vh;
    left: 8vw;
    margin: 0;
    padding: 0;
  }
  .SignUpLoginButton {
    /* margin: 0; */
    margin-left: 40px;
    margin-bottom: 5px;
  }
  .SignUpFormAlreadyAccount {
    margin-left: 40px;
  }
  .SignUpFormBox > input[type="submit"] {
    width: 40vw;
    position: relative;
    left: 11vw;
    margin-top: 15px;
  }
  .SignUpLines {
    width: 100%;
  }
  .SignUpFormBox > input[type="text"],
  .signUpPassword > input[type="password"],
  .signUpPassword > input[type="text"] {
    width: 90%;
  }
  .signUpPassword {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .SignUpFormLineAlreadyLine {
    display: none;
  }
  .SignUpRight {
    margin-left: 0;
  }
}
