.SignUpFourth {
  margin-left: 3vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20px;
  color: #0f071b;
}

.SignUpFourthSubHeading1,
.SignUpFourthSubHeading2,
.SignUpFourthSubHeading3 {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.SignUpFourth label {
  margin-top: 5px;
}
.SignUpFourthImg {
  width: 40vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.SignUpFourthImg > img {
  width: 240px;
  height: 200px;
}

.SignUpFourthBox1 {
  display: flex;
}

.SignUpFourthCheckboxBox {
  display: flex;
  min-width: 30vw;
  flex-direction: row;
}

.SignUpTextbox {
  background: rgba(255, 255, 255, 0.44);
  color: #333;
  border: 1px solid #cfc4c1;
  font-size: 16px;
  border-radius: 10px;
  width: 60vw;
  padding: 4px 8px 4px 4px !important;
  line-height: 1;
}
.SignUpTextbox:hover {
  border: 1px solid #969496;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.SignUpTextbox:focus {
  border: 1px solid #939fb4;
  outline: none;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.SignUpFourthFormBottom {
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.SignUpFourthFormBottom > h4 {
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat";
  font-weight: 600px;
}

.SignUpFourthFormBottom > input[type="submit"] {
  height: 49px;
  width: 140px;
  border-radius: 50px;
  background-color: #0f071b;
  color: #ebe7e6;
  border: none;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  font-weight: 500;
  font-family: "Monserrat";
}

@media only screen and (max-width: 800px) {
  .SignUpFourthImg {
    display: none;
  }
  .SignUpTextbox {
    width: 70vw;
  }
}
